---
layout: default
title: Home
---

<div class="introduction">
  {% assign latest_post = site.posts.first %}
  <p><strong>Latest post:</strong> <a href="{{ site.baseurl }}{{ latest_post.url }}">{{ latest_post.title }}</a> in <em>{{ latest_post.categories.first }}</em></p>
</div>

<div class="toc">
  {% for category in site.categories %}
    <h2>{{ category[0] }}</h2>
    <ul class="post one-em-bottom">
      {% for item in category[1] %}
        <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a>
         </li>
       {% endfor %}
    </ul>
  {% endfor %}
</div>
