<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <!-- <br><small>{{ site.tagline }}</small> -->
        </h3>
      <div class="subhead">
        <div class="container">
          {
          <a href="/">blog</a>&nbsp;
          <a href="/about">about</a>&nbsp;
          <a href="http://github.com/naliwajek">github</a>
          }
        </div>
      </div>
      </div>
    </div>
    <div class="container content">
      {{ content }}
    </div>
    <div align="center">
      <p>-</p>
      <p>Thanks for reading, <strong>Jakub Naliwajek</strong></p>
    </div>
  </body>
</html>
